<header class="header">
  <nav class="brand-name">
    <img src="./assets/logo.png">  
  </nav>
</header>

<main class="container">
<input type="text" placeholder="izlash">
<button>Qidirish</button>

<div class="cards">
  <div class="card">
    <img src="https://picsum.photos/900">
    <h3>Book</h3>
    <p class="translation">Kitob</p>
    <p class="example">I am reading an interesting book</p>
  </div>

  <div class="card">
    <img src="https://picsum.photos/400">
    <h3>Book</h3>
    <p class="translation">Kitob</p>
    <p class="example">I am reading an interesting book</p>
  </div>

  <div class="card">
    <img src="https://picsum.photos/600">
    <h3>Book</h3>
    <p class="translation">Kitob</p>
    <p class="example">I am reading an interesting book</p>
  </div>

  <div class="card">
    <img src="https://picsum.photos/200">
    <h3>Book</h3>
    <p class="translation">Kitob</p>
    <p class="example">I am reading an interesting book</p>
  </div>

  <div class="card">
    <img src="https://picsum.photos/120">
    <h3>Book</h3>
    <p class="translation">Kitob</p>
    <p class="example">I am reading an interesting book</p>
  </div>

  <div class="card">
    <img src="https://picsum.photos/110">
    <h3>Book</h3>
    <p class="translation">Kitob</p>
    <p class="example">I am reading an interesting book</p>
  </div>

  <div class="card">
    <img src="https://picsum.photos/100">
    <h3>Book</h3>
    <p class="translation">Kitob</p>
    <p class="example">I am reading an interesting book</p>
  </div>
</div>
</main>